.directory.container
  .history
    .history__content
      h4.history__content-firm Unsere Firmenhistorie
      h2.history__content-title Diplom-Ingenieur Dieter Weiss gründete im Jahre 1971 sein Ingenieurbüro.
      p.history__content-text Fast 30 Jahre lang führte er es als Alleininhaber. 1998 trat Sohn Klaus weiss als Stellvertreter an die Seite seines Vaters. Seit 2006 ist Diplom-Ingenieur Klaus Weiss alleiniger Geschäftsführer
      .history__content-line
      button.fal.history__content-btn Lesen Sie weiter
    button.fal.show-picture
  .history__image
    img(src="images/Image4.webp", alt="Unsere Firmenhistorie").image
    button.history__image-btn.fal
  
    
