section.contur
  .section.container
    .section__content
      h4.section__content-logo Ingenieur Dieter Weiss
      h2.section__content-title Ingenieurbüro für Bau- und Vermessungswesen
      p.section__content-text Wenn Sie zuverlässige Ingenieure brauchen – das Ingenieurbüro Dieter Weiss ist Garant für den Er­folg Ihrer Projekte.
      button.fal.section__content-button Ihr Projekt mit uns
    .section__image
      img(src="images/Image.webp", alt="archi").section__image-content
      .section__image-icon
        button.fas.section__image-icon__btn
      