.build
  .build__info.container
    .build__content
      h5.build__content-firm Mach Karriere bei uns
      h3.build__content-title Bewirb dich bei uns
      p.build__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      button.fal.build__content-button Karriere
    button.fal.build__btn
    .build__img
      img(src="images/Image5.webp", alt="Bewirb dich bei uns")
      button.fal.build__img-btn