.foot
  .foot__content.container
    .foot__conent-logo
      a(href="#!").foot__content-logo-logo weiss
    .foot__col
      .foot__content-info
        h6.foot__content-info__title Geschäftsführer
        p.foot__content-info__text Beratender Ingenieur Dipl.-Ing. Klaus Weiss
      .foot__content-adress
        h6.foot__content-adress__title Adresse
        p.foot__content-adress__text Straßenname 712345 Stadt
  .foot__line.container
    .foot__line-liner
    span.foot__line-span Impressum
    span.foot__line-span2 Datenschutz
  
    