.header
  .container.header__content
    a(href="#!").logo WEISS
      
      
    
    button.header__content-bar
      span.header__content-bar__icon
      span.header__content-bar__icon
      span.header__content-bar__icon
      
      
    ul.header__list
      buttom.header__close.fal
      li.header__list-page
        a(href="#!").header__link Startseite
       
      li.header__list-page
        a(href="#!").header__link Leistungen
        
      li.header__list-page
        a(href="#!").header__link Referenzen
          
      li.header__list-page
        a(href="#!").header__link Über uns
    button.header_btn.fal Kontakt
      
       